.App {
  text-align: center;
}

.level0 .hexagon {
  fill: #008200;
}

.level1 .hexagon {
  fill: #0000c2;
}

.level2 .hexagon {
  fill: #c20000;
}

.hexagon text {
  fill: black;
  user-select: none;
  stroke: none;
}

.winner .hexagon {
  stroke: gold;
}

svg.grid {
  max-height: 600px;
  min-height: 100px;
  min-width: 100px;
}
